.matrix {
  padding: 25px 0;
  overflow-x: scroll;
}

table {
  border: 2px solid #272c34;
}

.row {
  display: flex;
  align-items: center;
}

th {
  border: none;
}

td {
  border: 1px solid #dee2e6;
}
